@import '../../style/index.scss';

.Project {
  margin-top: 3em;
  padding: 1em;
  border-radius: 5px;
  background-color: rgba($font-color, 0.05);
  backdrop-filter: blur(4px);
  transition: all 0.3s;

  .title {
    font-size: 3em;
  }

  .description {
    margin-top: 1em;
    font-size: 1.2em;
    line-height: 1.6;
    color: darken($font-color, 30%);
  }

  .photo {
  }

  .video {
  }

  .links {
  }
}
