@import '../../style/index.scss';

.Project {
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba($font-color, 0.05);
  backdrop-filter: blur(4px);
  transition: all 0.3s;

  .titleAndLinks {
    align-items: center;
    margin-bottom: 2.5rem;
  }

  .title {
    font-size: 3rem;
    margin-right: 2rem;
  }

  .description {
    font-size: 1.2rem;
    line-height: 1.4;
    color: darken($font-color, 30%);
  }

  .photo {
  }

  .video {
  }

  .titleAndLinks,
  .skills,
  .links {
    display: flex;
    flex-wrap: wrap;
  }
}
