@import '../../style/index.scss';

.SideNav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 10;

  @include sm {
    left: 20%;
  }

  @include md {
    display: none;
  }

  .navContainer {
    .navList {
      display: flex;
      flex-direction: column;

      .navItem {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 4rem;

        .navLink {
          color: darken($font-color, 40%);
          transition: all 0.3s;

          &.active {
            color: $font-color;
          }

          &:hover {
            color: $font-color;
          }
        }
      }
    }
  }
}
