@import '../../style/index.scss';

.skillsList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;

  .skillsItem {
    background: rgba($font-color, 0.1);
    color: darken($font-color, 10%);
    border-radius: 5px;
    padding: 7px;
    margin-right: 7px;
    margin-top: 7px;
  }
}
