@import '../../style/index.scss';

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  margin-top: 2em;
  .nameContainer {
    .nameTitle {
      font-size: 1.5em;
    }
  }

  .navContainer {
    .navList {
      display: flex;

      .navItem {
        font-size: 1em;
        font-weight: 400;
        margin-left: 4em;

        .navLink {
          color: darken($font-color, 40%);
          transition: all 0.3s;

          &.active {
            color: $font-color;
          }

          &:hover {
            color: $font-color;
          }
        }
      }
    }
  }
}
