@import '../../style/index.scss';

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 2rem;

  @include md {
    justify-content: space-between;
  }

  .nameContainer {
    display: flex;
    align-items: center;

    .nameTitle {
      margin-left: 0.5rem;
      font-size: 1.5rem;
      letter-spacing: 0.5px;
    }
  }

  .navContainer {
    display: none;

    @include md {
      display: block;
    }

    .navList {
      display: flex;

      .navItem {
        font-size: 1rem;
        font-weight: 400;
        margin-left: 4rem;

        .navLink {
          color: darken($font-color, 40%);
          transition: all 0.3s;

          &.active {
            color: $font-color;
          }

          &:hover {
            color: $font-color;
          }
        }
      }
    }
  }
}
