@import '../../style/index.scss';

.Projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }

  @include xl {
    grid-template-columns: repeat(4, 1fr);
  }
}
