@import '../../style/index.scss';

.Badge {
  background: rgba($font-color, 0.1);
  border-radius: 5px;
  padding: 7px;
  margin-right: 7px;
  margin-top: 7px;

  .link {
    color: #4682b4;
    border-bottom: 1px solid #4682b4;
    transition: all 0.3s;

    &:hover {
      color: lighten(#4682b4, 10);
      border-color: lighten(#4682b4, 10);
    }
  }

  .text {
    color: darken($font-color, 10%);
  }
}
